<div
    class=" scale-110 w-12 my-auto mx-8 hidden lg:block top-43 left-10 absolute justify-center text bg-white rounded-3xl">
    <div class=" h-16 w-16  absolute -top-5 -left-2 bg-white rounded-full shadow-2xl overflow-hidden">
        <img class="scale-[55%] hover:scale-[60%] duration-200 " src="/static/image/Logo_PT_Rekayasa_Industri 1.jpg"
            alt="">
    </div>
    <a href="/solo"><span id="solo"
            class="hover:bg-[#1DB2F7] hover:scale-110 hover:mb-3 duration-300 p-2 w-10 h-10 mx-auto flex items-center justify-center  bg-[#B5DEF1] mb-2 mt-16 rounded-full"><img
                src="/static/image/1.png" alt=""></span></a>
    <a href="/multi"><span id="multi"
            class="hover:bg-[#1DB2F7] hover:scale-110 hover:my-3 p-2.5 duration-300 w-10 h-10 mx-auto flex items-center justify-center bg-[#B5DEF1]  m-2 rounded-full">
            <img src="/static/image/2.png" alt=""></span></a>
    <a href="/history"><span id="history"
            class="hover:bg-[#1DB2F7] hover:scale-110 hover:mt-3 p-1 duration-300 w-10 h-10 mx-auto flex items-center justify-center  bg-[#B5DEF1]  rounded-full"><img
                src="/static/image/history.png" alt=""></span></a>
    <a  id="logout" href="#"><span
            class="hover:bg-[#1DB2F7]  hover:scale-105 duration-300 w-11 p-2 h-11 m-auto mt-24 flex items-center justify-center bg-[#B5DEF1]  rounded-full"><img
                src="/static/image/logout.png" alt=""></span></a>
</div>


<div id="modal" class="hidden fixed z-10 w-screen h-screen flex items-center justify-center  ">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class=" bg-white h-96 px-28 relative rounded-xl text-center animate__animated animate__fadeIn ">
        <img src="/static/image/!.png" class="mx-auto mt-16" alt="">
        <p class="mt-4"> Apakah kamu yakin ingin keluar?</p>
        <div class="relative">
            <button id="batal" class="px-5 py-2 block absolute top-8 left-60">Batal</button>
            <a href="/logout"
                class="bg-[#60BF40] hover:bg-[#55a53b] text-white rounded-3xl px-10 block content-center py-2 absolute top-8 left-80 duration-200">Yakin</a>
        </div>
    </div>
</div>